<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Testlayer.Flipkart_LoginTest"/>
      <class name="Raman2.Raman2"/>
      <class name="Raman2.Flipkart_LoginTest"/>
      <class name="Raman2.Raman_2"/>
      <class name="POM_Ram1.POM_Ramanathan.AppTest"/>
      <class name="basepage.Base_Page"/>
      <class name="Testlayer.r4"/>
      <class name="Baselayer.Raman"/>
      <class name="basepage.Raman"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
